body {
    background-color: #eb3458;
}  

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    color: white;
    font-size: 45px;
    padding: 3% 0 0 40%;
}

.fa-shopping-cart {
    color: #000000;
    margin: 2% 0 0 40%;
}

body>div {
    margin: 10px 0 0 43%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div>p {
    margin-left: 41.5%;
}

.metrics{
    display: flex;
    justify-content: center;
    align-items: center;
}

#visitors, #admitted, #dismissed {
    width: 120px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 5px;
    display: inline-block;
    margin: 5px;
}

button {
    width: 120px;
    height: 50px;
    background-color: purple;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: large;
    margin: 10px 0 0 43%;
}

button:hover, button:active {
    border: none;
    background-color: antiquewhite;
    color: #eb3458;
}

/* .proceed {
    font-size: 20px;
    color: #ffffff;
    margin-left: -40px;
    margin-bottom: 12px;
} */